@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
* {
    margin: 0;
    padding: 0;
}

.video-20 {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

/*        Header          */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-image: linear-gradient(rgba(255, 165, 0) 0%,
            rgba(204, 33, 36, 0.6) 100%);
    color: white;
    height: 20vh;
    font-family: rubik-dirt;
    font-size: 30px;
}

.container {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    text-decoration: overline;
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    margin-left: 1em;
    margin-bottom: 1em;
}

nav ul li{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-weight: 900;
    font-size: 30px;
    font-family: monospace;
}

.search-area {
    width: 25%;
}

.page-name {
    display: flex;
    margin-left: 10em;
}


/*     Music Genre Dropdown Results        */
.music-results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 50vw;
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.results-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 25vh;
    max-width: 400px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(72, 72, 72);
    margin: .5em;
    border-radius: .6em;
    background-size: 100;
}

.concert-img {
    height: 200px;
    width: 100%;
    background-size: cover;
}

.card-title {
    margin: 0 auto;
    color: rgba(255, 165, 0);
    font-size: 15px;
    border-radius: .6em;
}

.venue-text {
    margin: 0 auto;
    color: white;
    text-shadow: 0.2px 0.4px 0.6px black;
    font-size: 15px;
    font-weight: 900;
    border-radius: .6em;
}

.date-time {
    align-self: flex-end;
}

.details-div {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    border-radius: .6em;
    margin: 0 6px;
}

.website-link {
    align-self: flex-end;
    text-decoration: underline;
    background-color: black;
}

.next-prev {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15em;
}

.widget {
    margin-right: 2em;
}


/*    Brewery Section       */
.brewery-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    margin-left: 1em;
}

.brewery-wrapper h1,
.brewery-wrapper h2{
    text-align: center;
    color: white;
    font-size: 25px;
}

.brewery-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3px;
}

.brew-img {
    max-height: 215px;
    width: 100vw;
}

.next-prev-brew {
    display: flex;
    align-items: flex-end;
}


/*        Media Queries      */

@media screen and (min-width: 1920px) {
    .results-card {
        min-width: 450px;
    }
}

@media screen and (max-width: 980px) {
    .container-1,
    nav ul li {
        font-size: 12px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        align-content: center;
        height: 100vh;
        margin: 10px;
    }
     

    .results-card {
        min-width: 100px;
        max-width: 100px;
    }

    .brewery-wrapper h1,
    .brewery-wrapper h2 {
        font-size: 15px;
    }

    .page-name {
        margin-right: 10em;
    }

    #brewery-search{
        font-size: 10px;
        padding: 5px;
    }
}
