@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
* {
    margin: 0;
    padding: 0;
}

.video-1 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -9999;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(rgba(255, 165, 0) 0%,
            rgba(204, 33, 36, 0.6) 100%);
    color: lime;
    text-decoration: overline;
    height: 20vh;
    font-family: rubik-dirt;
    font-size: 30px;
}

.container {
    display: flex;
    text-align: center;
    flex: 1 1 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    flex: 1 1 100%;
}

nav ul li{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-weight: 900;
    font-size: 25px;
    font-family: monospace;
}

.search-area {
    width: 25%;
    margin-right: 0%;
}


/*     Music Genre Dropdown Results        */
.music-results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    width: 50vw;
    border: 3px solid limegreen !important;
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.results-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 20vh;
    text-align: center;
    min-width: 400px;
    max-width: 400px;
    text-decoration: none;
    border: 3px solid yellow;
    background-color: rgb(72, 72, 72);
    margin: .5em;
    border-radius: .6em;
    background-size: 100;
}

.card-title {
    margin: 0 auto;
    color: rgba(255, 165, 0);
    font-size: 15px;
    background-color: black;
    border-radius: .6em;
}

.venue-text {
    margin: 0 auto;
    color: purple;
    text-shadow: 0.1px 0.2px 0.2px black;
    font-size: 15px;
    font-weight: 900;
    border-radius: .6em;
}

.date-time {
    align-self: flex-end;
}

.details-div {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: rgba(255, 165, 0);
    border-radius: .6em;
    margin: 0 6px;
}

.website-link {
    align-self: flex-end;
    text-decoration: underline;
}

.next-prev {
    display: flex;
    align-items: flex-end;
}

