/* Added new header design*/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./css-backgrounds/My\ project-1-2.png);
  background-size: cover;
  height: 40vh;
}

main {
  display: flex;
  flex-direction: row;
 /*  height: 100vh; */
  width: 100vw;
}

.container-1 {
  display: flex;
  /* Changed font in search bar */ 
  font-family: 'Averta-SemiboldItalic', sans-serif;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
}

nav ul li {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-weight: 900;
  font-size: 25px;
  font-family: 'Zidan', sans-serif;
  text-shadow: 2px 2px #F6FD01;
  color: #FD01F6
}

nav ul li :hover {
  text-shadow: 5px 5px 10px #01F6FD;
}

.search-area {
  width: 25%;
  margin-right: 0%;
}

.video-1 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -9999;
}

.brew-searchArea {
  
  background: url(./css-backgrounds/My\ project-1-9.png);
  background-size: cover;
}

/*      Event Results Card        */
.homepage-results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-width: 90vw;
}

.widgets {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-width: 60vw;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
}

.row-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.homepage-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 20vh;
  min-width: 350px;
  max-width: 350px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(72, 72, 72);
  margin: 1em .2em;
  border-radius: .6em;
  background-size: 100;
}

.event-img {
  display: flex;
  height: 150px;
  width: 100%;
  background-size: cover;
}

.event-title {
  margin: 0 auto;
  color: rgba(255, 165, 0);
  font-size: 15px;
  border-radius: .6em;
}

.venue-name {
  margin: 0 auto;
  color: white;
  text-shadow: 0.2px 0.4px 0.6px black;
  font-size: 15px;
  font-weight: 900;
  border-radius: .6em;
}

.date-time-home {
  align-self: flex-end;
  margin-left: 5px;
}

.details-homepage {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  color: red;
  background-color: black;
  width: 100%;
  border-radius: 0 0 0.6em 0.6em;
 /*  margin: 0 6px; */
}

.event-link {
  align-self: flex-end;
  text-decoration: underline;
  margin-right: 5px;
}

.home-next-prev {
  display: flex;
  align-items: flex-end;
}

.home-widget {
  margin-top: 1em;
}

.widget-text {
  font-family: 'Averta-BlackItalic', sans-serif;
  font-size: 30px;
  text-shadow: 2px 2px #01F6FD;
  color: #FD01F6
}

/*    Brewery Section       */
.brewery-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 20vw;
  margin-left: 0.5em;
  margin-top: 1em;
}

.brewery-wrap h1,
.brewery-wrap h2{
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 25px;
  color: #000000
}

.brew-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3px;
}

.brewery-img {
  max-height: 215px;
  width: 100vw;
}

.next-prev-brew-home {
  display: flex;
  align-items: flex-end;
}

/*      Media Queries       */

@media screen and (min-width: 1920px) {
  .homepage-card {
      min-width: 400px;
  }
}

@media screen and (max-width: 980px) {
  .row-div {
    flex-direction: column;
  }
  .homepage-results {
    flex-direction: column;
  }
}

